* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

h2 {
  font-size: 2.7rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 3rem;
}

button {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}

.container {
  max-width: 60rem;
  margin: 10rem auto;
  padding: 0 2rem;
}

.card {
  background-color: #fff;
  margin: 2rem 0;
  padding: 2rem 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-sporty button {
  background-color: #e04553;
}

.card-casual button {
  background-color: #0d4ba3;
}

.card-formal button {
  background-color: #512b22;
}

.card-sporty h2 {
  color: #e04553;
}

.card-casual h2 {
  color: #0d4ba3;
}

.card-formal h2 {
  color: #512b22;
}

.card-sporty {
  background: #fff url("./images/sporty.png") no-repeat center right;
  background-size: 20rem;
}
.card-casual {
  background: #fff url("./images/casual.png") no-repeat center right;
  background-size: 20rem;
}
.card-formal {
  background: #fff url("./images/formal.png") no-repeat center right;
  background-size: 20rem;
}
