*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Utility Classes */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.container-sm {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn {
  background-color: var(--secondary-color);
  color: var(--dark-color);
  border: 1px solid var(--secondary-color);
  display: inline-block;
  padding: 2rem 4rem;
  border-radius: 3.2rem;
  font-size: 1.6rem;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    background-color: var(--primary-color);
    color: #fff;
    border: 1px solid #fff;
  }
}

/* Text Clasess */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.section {
  margin: 6.4rem 0;
}

/* Section Header */
.section-header {
  max-width: 75rem;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
}

.section-header h2 {
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--dark-color);
  margin-bottom: 1rem;
}

.section-header p {
  font-size: 2.1rem;
  color: var(--dark-color);
}

.heading-border {
  width: 6.4rem;
  height: 0.4rem;
  background-color: var(--primary-color);
  margin: 0 auto 3.2rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3.2rem 2.8rem;
  background-color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

/* Navbar */
.navbar {
  color: #fff;
  padding: 1.6rem 3.2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  transition: background-color 0.5s ease-in-out;
}

.navbar .navbar-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar img {
  max-width: 8.1rem;
  height: 3.2rem;
}

.navbar .main-menu-list {
  display: flex;
  align-items: center;
  gap: 3.2rem;
  font-weight: 600;
  font-size: 1.6rem;
}

.navbar i {
  font-size: 2.4rem;
}

.navbar a {
  color: #fff;

  &:hover {
    color: var(--secondary-color);
  }
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

.mobile-menu-toggle {
  color: #fff;
  cursor: pointer;
}

.mobile-menu .mobile-menu-items {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0.95;
  padding: 3rem 2rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  transform: translateX(100%);
  transition: transform 0.5s ease;
}

.navbar.navbar-scroll {
  background-color: rgba(235, 77, 85, 0.8);
  backdrop-filter: blur(10px);
}

.navbar .mobile-menu-items.active {
  transform: translateX(0);
}

.mobile-menu .mobile-menu-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  font-size: 1.9rem;
}

/* Hero */
.hero {
  background: url("../images/header-background.jpg") center center/cover
    no-repeat;
  padding: 18.4rem 3.2rem 12.8rem;
  color: #fff;
  overflow-x: hidden;
  position: relative;
  height: 101rem;
}

.hero-flex {
  display: flex;
  gap: 9.6rem;
  align-items: center;
}

.hero-content h1 {
  font-size: 5.6rem;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.hero-content p {
  font-size: 1.92rem;
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 3.2rem;
}

.hero img {
  width: 100%;
  margin-right: -10rem;
}

.hero .frame-decoration {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10rem;
}

/* Learn Topics */
.topics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}

.topic-text h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0.8rem 0;
}

.topic img {
  transition: all 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

/* Chapters */
.chapter-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  margin-top: 1rem;
}

.chapter-cards img {
  width: 13rem;
  margin-top: 1.6rem;
}

.chapter-cards h3 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1.6rem 0;
}

.chapter-cards p {
  font-size: 1.6rem;
}

/* Summary */
.summary {
  background: var(--light-color);
  color: var(--dark-color);
  padding: 6.4rem 3.2rem 8rem;
}
.summary .section-list {
  background-color: #fff;
  padding: 3.2rem;
  margin-top: 5rem;
}

.section-list .list-header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 2rem;
  padding: 0.8rem 1.6rem;
  font-weight: 700;
  margin: 1.6rem 0;
}

.section-list .list-item {
  font-size: 1.6rem;
  padding: 2rem 0;
  border-bottom: 1px solid #f1f4f6;
}

.section-list .list-item:last-child {
  border-bottom: none;
}

/* Info */
.info-container {
  background: url("../images/audience.jpg") top center/cover no-repeat;
  display: flex;
}

.info-content {
  background: var(--primary-color);
  color: #fff;
  flex: 1;
  padding: 6.4rem;
}

.info-content h2 {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
  font-weight: 700;
}

.info-content p {
  font-size: 1.9rem;
  margin-bottom: 3.2rem;
}

.info-content ul li {
  font-size: 1.9rem;
  line-height: 2;
}

.info-content i {
  color: var(--secondary-color);
  margin-right: 1rem;
}

.info-left {
  width: 50%;
}

/* Takeaways */
.takeaways-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem;
  padding: 2.4rem 0;
}

.takeaways-cards p {
  font-size: 1.6rem;
}

.takeaways-cards .card {
  flex-direction: row;
  text-align: left;
  i {
    margin-right: 1.6rem;
    font-size: 4.5rem;
  }
}

/* Course Details */
.details-flex {
  display: flex;
  gap: 6.4rem;
  align-items: center;
  justify-content: center;
}

.details .heading-border {
  margin: 1.6rem 0;
}

.details img {
  width: 100%;
  max-width: 50rem;
}

.details h2 {
  font-size: 3.2rem;
}

.details p {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
}

.details ul {
  font-size: 1.6rem;
  margin-bottom: 3.2rem;
  line-height: 2;

  i {
    margin-right: 0.5rem;
  }
}

.details + .details .details-flex {
  flex-direction: row-reverse;
}

/* Stats */
.stats {
  background: url("../images/stats-background.jpg") center center/cover
    no-repeat;
  color: #fff;
}

.stats-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.4rem 3.2rem;
}

.stats img {
  width: 100%;
  max-width: 50rem;
}

.stats-content {
  max-width: 50rem;
}

.stats-numbers {
  display: flex;
  gap: 3.2rem;
  margin: 3.2rem 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.stats-numbers h3 {
  font-size: 4.8rem;
  font-weight: 700;
}

.stats-numbers p {
  font-size: 1.2rem;
}

.stats-text {
  font-size: 1.92rem;
  margin-bottom: 3.2rem;
  text-align: center;
}

.stats .btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 20rem;
}

/* Newsletter */
.newsletter {
  text-align: center;
  margin: 0 2rem;
}

.newsletter-flex {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  background-color: var(--light-color);
  border: 1px solid #eee;
  align-items: center;
  justify-content: center;
  padding: 6.4rem 3.2rem;
}

.newsletter h2 {
  font-size: 3.2rem;
  font-weight: 700;
}

.newsletter p {
  font-size: 1.6rem;
  max-width: 60rem;
}

.newsletter input {
  padding: 1.6rem 3.2rem;
  border: 1px solid #ccc;
  border-radius: 3.2rem;
  width: 100%;
  max-width: 40rem;
  margin: 1.6rem 0;
}

/* Social */
.social {
  background-color: var(--dark-color);
  color: #fff;
  font-size: 2.7rem;
  text-align: center;
  padding: 9.6rem 3.2rem;
  margin-bottom: 0;
}

.social p {
  margin-bottom: 3.2rem;
}

.social-icons {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.social-icons a {
  color: #fff;

  &:hover {
    color: var(--secondary-color);
  }
}

/* Footer */
.footer {
  background-color: var(--dark-color);
  color: #fff;
  font-size: 1.6rem;
  border-top: 1px solid #384653;
  padding: 0.8rem 3.2rem;
}

.footer-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-flex ul {
  display: flex;
  gap: 1.6rem;
  margin: 3.2rem 0;
}

.footer a {
  color: #fff;
  &:hover {
    color: var(--secondary-color);
  }
}

/* Inner Header */
.inner-header {
  background-color: var(--primary-color);
  color: #fff;
  height: 25rem;
  padding-top: 14.8rem;
}

.inner-header h1 {
  font-size: 4rem;
  font-weight: 700;
}

/* Contact Form */
.contact-form {
  font-size: 1.6rem;
}

.contact-form p {
  margin-bottom: 3rem;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 2rem 1.6rem;
  margin-top: 2.4rem;
  font-family: inherit;
  font-size: medium;
  outline: none;
}

.contact-form textarea {
  height: 20rem;
  resize: none;
}

.contact-form .btn {
  display: block;
  font-size: inherit;
  font-family: inherit;
  margin-top: 1.6rem;
  width: 100%;
}

/* Location */
.location {
  font-size: 1.6rem;
}

.location h1 {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.location p {
  margin-bottom: 3.2rem;
}

.map {
  overflow: hidden;
  position: relative;
  height: 0;
  margin-bottom: 3rem;
  padding-bottom: 50%;
  border-radius: 0.25rem;
}

.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

/* Media Queries */
@media (max-width: 75em) {
  .hero {
    height: 86rem;
  }
  .hero-flex {
    gap: 2rem;
  }

  .hero img {
    max-width: 500px;
    margin-right: 0;
  }

  .hero h1 {
    font-size: 4.8rem;
  }

  .topics {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 62em) {
  .hero {
    text-align: center;
    height: 119rem;
  }
  .hero-flex {
    flex-direction: column;
    padding-bottom: 6.4rem;
  }

  .hero img {
    max-width: 60rem;
    margin-top: 3.2rem;
  }

  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  .chapter-cards,
  .takeaways-cards {
    grid-template-columns: 1fr;
  }

  .stats-flex {
    flex-direction: column;
    gap: 3.2rem;
  }
}

@media (max-width: 48em) {
  .hero {
    height: 124.8rem;
  }
  .main-menu-items,
  .info-left {
    display: none;
  }
  .mobile-menu {
    display: block;
  }

  .topics {
    grid-template-columns: repeat(2, 1fr);
  }

  .details-flex,
  .details + .details .details-flex {
    flex-direction: column;
    gap: 3.2rem;
  }

  .social {
    font-size: 1.9rem;
  }

  .footer-flex {
    flex-direction: column;
  }
}

@media (max-width: 36em) {
  .hero {
    height: 101.7rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
  }

  .hero h1 {
    font-size: 4rem;
  }

  .hero img {
    width: 35rem;
  }

  .topics {
    grid-template-columns: 1fr;
  }

  .stats-numbers {
    flex-direction: column;
  }
}
