* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  margin-bottom: 2rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 70rem;
  margin: 0 auto;
}

.header {
  background: linear-gradient(45deg, #f00, #00f);
  color: #fff;
  padding: 1rem 0;
  margin-bottom: 8rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header.transparent {
  background: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.9),
    rgba(0, 0, 255, 0.9)
  );
}

.header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.header .menu a:hover {
  color: #f00;
}

.section {
  margin: 3rem 0;
}

.section h2 {
  background: linear-gradient(45deg, #f00, #00f);
  color: #fff;
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section p {
  font-size: 1.6rem;
}

.section p:last-child {
  margin-bottom: 8rem;
}

.section img {
  margin-bottom: 4rem;
}
